<div class="inner" id="inner">
  <div class="container form-container">
    <div class="form-header">
      Настройка персональных данных
    </div>
    <form [formGroup]="editForm" class="login-form">
      <div class="form-row">
        <div class="form-row-text">
          Имя:
        </div>
        <input class="form-input" formControlName="name" type="text">
      </div>
      <div class="form-row">
        <div class="form-row-text">
          Телефон:
        </div>
        <input mask="00-000-00-00" prefix="+(375)" [showMaskTyped]="true" class="form-input" formControlName="phone">
      </div>
      <div class="form-row">
        <div class="form-row-text">
          Старый пароль:
        </div>
        <input class="form-input" type="password" formControlName="password">
      </div>
      <div class="form-row">
        <div class="form-row-text">
          Новый пароль:
        </div>
        <input class="form-input" type="password" formControlName="password">
      </div>
      <div class="form-row">
        <div class="form-row-text">
          Добавить новое фото:
        </div>
        <div class="image-upload-container">
          <ngx-image-uploader [options]="options" (upload)="onUpload($event)"></ngx-image-uploader>
        </div>
      </div>
      <div class="form-footer">
        <input type="submit" class="submit-button" value="Сохранить"
               [ngClass]="{'disable':editForm.invalid && editForm.touched && editForm.dirty || editForm.untouched}"
               [disabled]="editForm.invalid && editForm.touched && editForm.dirty || editForm.untouched">
      </div>
    </form>
  </div>
</div>
