.inner {
  color: #ffffff;
  display: flex;
  justify-content: center;
  min-height: 620px;
  opacity: 0.1;
  transition: 1s linear;

  .form-container {
    background-color: #00695c;
    border-radius: 10px;
    margin: 50px 0;
    min-width: 700px;

    .form-header {
      font-size: 28px;
      font-weight: 700;
      line-height: 106px;
      padding: 15px;
      text-align: center;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .form-row-custom {
        display: flex;
        margin-bottom: 20px;
        padding: 0 10%;

        .form-row-text {
          line-height: 40px;
          width: 200px;
        }

        .form-input {
          border: 1px solid #d8d8d8;
          border-radius: 4px;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
          font-size: 20px;
          height: 40px;
          line-height: 40px;
          outline: 0;
          text-indent: 20px;
          transition: 0.4s linear;
          width: 80%;
        }

        .form-input:focus {
          background-color: #b5b5a7;
          border: 1px solid #fcaf17;
          box-shadow: inset 0 1px 3px rgba(252, 175, 23, .1);
        }
      }

      .forget-password-span {
        color: #f4c288;
        cursor: pointer;
        font-size: 12px;
        margin-top: -13px;
        width: 58%;
      }

      .registration-span {
        color: #f4c288;
        cursor: pointer;
        font-size: 12px;
        margin-top: -13px;
      }

      .form-checkbox {
        padding-bottom: 20px;
        input[type=checkbox], input[type=radio] {
          cursor: pointer;
          margin: 0 10px 10px 0;
          position: relative;
        }

        input[type=checkbox]:after {
          background: url(/assets/img/checkbox.png) 0 -18px;
          content: "";
          display: block;
          height: 18px;
          left: 0;
          top: 0;
          width: 18px;
        }

        input[type=checkbox]:checked:after {
          background-position: 0 0;
        }
        label {
          font-size: 14px;
        }
      }

      .form-footer {
        background: linear-gradient(to bottom, #f7f7f7 0, #fefefe 100%);
        border-radius: 0 0 10px 10px;
        border-top: 1px solid #efefef;
        padding: 25px;
        position: relative;
        text-align: center;
        vertical-align: baseline;

        .submit-button {
          background-color: #eebc7c;
          border: 1px solid #00695c;
          border-radius: 9px/8px;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          font-size: 20px;
          font-weight: 700;
          height: 47px;
          line-height: 47px;
          outline: 0;
          padding: 0 25px;
          text-decoration: none;
          text-transform: uppercase;
        }
        //#c29a6d
        .disable {
          background-color: #acb5c5;
          box-shadow: none;
          color: darkgray;
          cursor: not-allowed;
        }
      }
    }
  }
}

.image-upload-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

/deep/ .image-container {
  background-color: #ffffff !important;
  border: 1px solid #d8d8d8 !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1) !important;
  font-size: 20px !important;
  line-height: 40px !important;
  outline: 0 !important;
  transition: 0.4s linear !important;
}

/deep/.add-image-btn{
  font-size: 16px;
}


@media only screen and (max-width: 900px) {
  .form-container {
    min-width: 300px !important;

     .form-header{
       line-height: 28px!important;
     }
    .form-row-custom {
      flex-direction: column;

    }
  }
}
