<div class="inner" id="inner">
  <div class="form-container">
    <div class="form-header">
     {{'Enter in Cabinet' | translate}}
    </div>
    <form [formGroup]="loginForm" class="login-form">
      <div class="form-row-custom">
        <div class="form-row-text">
          {{'Phone' | translate}}
        </div>
        <input mask="00-000-00-00" prefix="+(375) " [showMaskTyped]="true" class="form-input" formControlName="phone">
      </div>
      <div class="form-row-custom">
        <div class="form-row-text">
          {{'Password' | translate}}
        </div>
        <input class="form-input" type="password" formControlName="password">
      </div>
      <div class="form-row-custom">
        <div class="form-row-text">
        </div>
        <div class="forget-password-span">
          {{'Forget password' | translate}}
        </div>
        <div class="registration-span" (click)="goToRegistrtion()">
          {{'To register' | translate}}
        </div>
      </div>
      <div class="form-row-custom">
        <div class="form-row-text">
        </div>
        <div class="form-checkbox">
          <input #checkbox type="checkbox" id="checkbox" >
          <label for="checkbox">{{'Remember me' | translate}}</label>
        </div>
      </div>
      <div class="form-footer">
        <input type="submit" class="submit-button" value="{{'Enter' | translate}}"
               [ngClass]="{'disable':loginForm.invalid && loginForm.dirty || loginForm.pristine}"
               (click)="login()" [disabled]="loginForm.invalid && loginForm.dirty || loginForm.pristine">
      </div>
    </form>
  </div>
</div>
