.footer-container {
  background-color: #435a57;
  color: #ffffff;
  display: flex;
  justify-content: center;
  line-height: 24px;
  min-height: 150px;

  .wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;

    .links {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        color: #ffffff;

        &:hover {
          color: #acb5c5;
        }
      }

    }

    .icons {
      display: flex;

      i {
        margin-top: 50px;
        max-height: 10px;
        padding-left: 10px;
      }
    }

    .contacts {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
