<div class="footer-container">
  <div class="wrap">
    <div class="links">
      <div class="link" *ngFor="let link of links">
        <span>{{link}}</span>
      </div>
    </div>
    <div class="icons">
      <i class="fa fa-yahoo fa-2x" aria-hidden="true"></i>
      <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
      <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
      <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
    </div>
    <div class="contacts">
      @CatchCar<br>
      +375-29-293-22-22<br>
      CatchCar@mail.ru<br>
      УНП:1421235213523
    </div>
  </div>
</div>
