@import 'header-dark.scss';
@import 'header-light.scss';

.header {
  color: #ffffff;
  display: flex;
  height: 70px;
  justify-content: space-between;

  .logo-block {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    justify-content: center;
    padding: 0 25px;

    .logo-image {
      background: url(/assets/logos/main-logo.png);
      height: 36px;
      margin-left: 20px;
      width: 160px;
    }
  }

  .flags {
    display: flex;
    flex-direction: row;
    margin-right: 100px;

    .russian {
      background: url(https://lipis.github.io/flag-icon-css/flags/4x3/ru.svg);
      cursor: pointer;
      height: 15px;
      margin-right: 10px;
      width: 20px;
    }
    .english {
      background: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg);
      cursor: pointer;
      height: 16px;
      width: 22px;
    }

    .select-lang{
      outline: 1px solid lavenderblush;
    }
  }

  .person-info {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 25px;

    .person-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
      border-radius: 100%;
      height: 60px;
      width: 60px;
    }

    .person-name {
      padding-left: 10px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .logo-image {
    display: none;
  }
}

