<div class="header">
  <div class="logo-block" (click)="onClickBurger($event)">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <div class="logo-image">
      <img src="/assets/logos/main-logo.png">
    </div>
  </div>
  <div class="person-info">

    <div class="flags">
      <div class="russian" [ngClass]="{'select-lang': selectLang == 'ru'}" (click)="switchLanguage('ru')"></div>
      <div class="english" [ngClass]="{'select-lang': selectLang == 'en'}" (click)="switchLanguage('en')"></div>
    </div>

    <div class="person-image">
    </div>
    <div class="person-name">
      <span *ngIf="selectLang === 'ru'">{{personInfo?.user.ruName}}</span>
      <span *ngIf="selectLang === 'en'">{{personInfo?.user.enName}}</span>
    </div>

  </div>
</div>
