.container {
  display: flex;
  flex-direction: column;
  background-color: #e8ebf0 ;
}

.sidenav-content {
  height: 100%;
}

.sidenav {

  .menu{
    display: flex;
    flex-direction: column;

    .item{
      display: flex;
      align-items: center;
      line-height: 40px;
      cursor: pointer;
      padding: 5px 20px ;

      span{
        padding-left: 10px;
      }

      &:hover{
        background-color: #d2d2d2;
      }

      &:last-child{
        color: #ffffff;
        border-top: #00695c 1px solid;
        border-bottom: #00695c 1px solid;
        background-color: #4c8c4a;
      }
    }
  }
}
