<div [ngClass]="{'light-theme': theme === 'light', 'dark-theme': theme === 'dark'}">
  <header-app (burgerState)="drawer.toggle()"></header-app>
  <mat-drawer-container class="passenger-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <div class="menu">
        <div class="item" routerLink="{{link.url}}" *ngFor="let link of links;let i = index"
             [ngClass]="{selectLink: i == selectLink}"
             (click)="selectLink = i">
          <i class="{{link.icon}}" aria-hidden="true"></i>
          <span>{{link.name | translate}}</span>
        </div>
        <div class="item" (click)="exit()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>{{'Exit'|translate}}</span>
        </div>
      </div>
    </mat-drawer>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  <footer-app></footer-app>
</div>


