.container-history{
  display: flex;
  flex-direction: column;
  min-height: 600px;
  padding: 25px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
