.entrance-container {

  .card {
    //max-width: 400px;
    color: #ffffff;
    min-width: 700px;
    padding: 0;

    .header-span {
      font-size: 28px;
      padding: 20px;
      text-align: center;
    }

    .flags {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      bottom: 23px;

      .russian {
        background: url(https://lipis.github.io/flag-icon-css/flags/4x3/ru.svg);
        cursor: pointer;
        height: 15px;
        margin-right: 10px;
        width: 20px;
      }
      .english {
        background: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg);
        cursor: pointer;
        height: 16px;
        width: 22px;
      }

      .select-lang{
        outline: 1px solid lavenderblush;
      }
    }

    .choice-block {
      display: flex;
      justify-content: space-around;
      padding: 50px;

      .position {
        cursor: pointer;
        display: flex;
        flex-direction: column;

        .icon-block {
          align-items: center;
          border-radius: 100%;
          color: #ffffff;
          display: flex;
          height: 80px;
          justify-content: center;
          transition: 0.5s linear;
          width: 80px;
        }

        .position-span {
          display: flex;
          justify-content: center;
          padding-top: 15px;
          transition: 0.5s linear;
        }
      }
    }
  }
}

:host-context(.dark-theme) .card {
  background-color: #00695c;

  .header-span {
    border-bottom: 2px solid #f4c288;
  }

  .choice-block {

    .position {

      .icon-block {
        background-color: #f4c288;
      }

      &:hover {
        .icon-block {
          color: #00695c;
        }

        .position-span {
          color: #f4c288;
        }
      }
    }
  }
}

:host-context(.light-theme) .card {
  background-color: #424242;

  .header-span {
    border-bottom: 2px solid #f4c288;
  }

  .choice-block {

    .position {

      .icon-block {
        background-color: #f4c288;
      }

      &:hover {
        .icon-block {
          color: #424242;
        }

        .position-span {
          color: #f4c288;
        }
      }
    }
  }
}

