@import 'board-dark.scss';
@import 'board-light.scss';

.board-container {
  display: flex;
  flex-direction: column;
  padding: 25px;

  .functional-block {
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    mat-form-field {
      padding: 15px 10px 3px;
      width: 300px;
    }

    .button-confirm {
      border-radius: 9px/8px;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      height: 47px;
      line-height: 47px;
      margin: 5px;
      outline: 0;
      padding: 0 10px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .clock-container {
      display: flex;
      padding: 15px 10px 14px;

      .clock {
        border: none;
        border-bottom: 1px solid #73797a;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: inherit;
        font-weight: 400;
        line-height: 1.125;
        opacity: 0.8;
        padding: 0.56em 0;
      }

      .clock-icon {
        display: flex !important;
        position: relative !important;
        right: 20px !important;
      }

    }
  }

  .map-info {
    border-radius: 20px 0 0 20px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    display: flex;

    .map-container {
      flex: 2;
    }

    .list-drivers {
      border-radius: 0 6px 6px 0;
      flex: 1;

      .header-list-drivers {
        background-color: #e8ebf0;
        border-top-right-radius: 6px;
        color: #111111;
        line-height: 40px;
        text-align: center;
      }

      .selectDriver {
        border-radius: 6px;
        cursor: pointer;
      }

      .item-driver {
        color: #111111;
        display: flex;
        min-width: 300px;
        padding: 8px;
        justify-content: start;

        span {
          padding-left: 4px;
          width: 70%;
        }

        i {
          padding: 0 5px;
        }

        &:hover {
          border-radius: 6px;
          color: #ffffff;
          cursor: pointer;
        }
      }

    }

    .none-driver {
      align-items: center;
      display: flex;
      flex: 1;
      font-size: 26px;
      justify-content: center;
      padding: 10px;
      text-align: center;
      word-wrap: break-word;
    }
  }

  .driver-information-block {
    display: flex;
    justify-content: space-between;

    .card-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }

    .container-card {
      width: 49%;

      .reviews-item {
        margin: 15px 0;
      }
    }
  }
}

.card-cont {
  color: #ffffff;
  margin-bottom: 20px;
}

.card-cont-dark {
  color: #2d2d2d;
  margin-bottom: 20px;
}

@media only screen and (max-width: 850px) {
  .map-info, .driver-information-block {
    flex-direction: column;

    .container-card {
      width: 100% !important;
      margin-bottom: 20px;
    }
  }
}




