.container {
  display: flex;
  padding: 25px;
  flex-direction: column;

  .functional-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
    color: #111111;

    mat-form-field {
      padding: 15px 10px 3px;
    }
    .clock-container {
      display: flex;

      .clock {
        padding: 0.56em 0;
        font-size: inherit;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        border: none;
        border-bottom: 1px solid #c2c2c2;
        color: #c2c2c2;
      }

      .clock-icon {
        display: flex !important;
        position: relative !important;
        right: 20px !important;
      }

      /deep/ .timepicker__header, /deep/ .timepicker__actions {
        background-color: #00695c !important;
      }

      /deep/ .clock-face__number > span.active {
        background-color: #eebc7c !important;
      }

      /deep/ .timepicker-button {
        color: #eebc7c;
      }
    }
  }

  .map-info {
    display: flex;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 20px 0 0 20px;

    .map-container {
      flex: 2;
    }

    .list-drivers {
      flex: 1;
      background-color: #ffffff;
      border-radius: 0 6px 6px 0;

      .header-list-drivers {
        text-align: center;
        line-height: 40px;
        font-size: 22px;
        background-color: #b1b32d;
        color: #ffffff;
        border-top-right-radius: 6px;
      }

      .item-driver {
        display: flex;
        padding: 8px;
        color: #111111;
        font-size: 20px;
        span {
          padding-left: 4px;
          width: 80%;
        }

        i:hover {
          color: #ffffff;
        }

        &:hover {
          background-color: #6f9d74;
          cursor: pointer;
        }
      }
    }
  }

  .driver-information-block {
    display: flex;
    justify-content: space-between;

    .driver-card {
      max-height: 200px;
    }

    .card-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }

    .container-card {
      width: 48%;
      background-color: #4c8c4a;
      color: #ffffff;
      //max-height: 300px;
      //overflow-y: scroll;
      .reviews-item {
        margin: 15px 0;
      }
    }
  }
}

.card-cont {
  background-color: #4c8c4a;
  color: #ffffff;
  margin-bottom: 20px;
}

.card-cont-dark{
  background-color: #00695c;
  color: #ffffff;
  margin-bottom: 20px;
}



